@model List<INSCRIPCION_ESTUDIANTIL.Models.Pago>

@{
    ViewData["Title"] = "Pagos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Registro de Pagos</h1>


<div class="card">
    <div class="card-header">
        <h5>Lista de Pagos</h5>
    </div>

    <div class="card-body">
        <a class="btn btn-success btn-sm" asp-action="Pagos_Detalle" asp-controller="Home" asp-route-ID_PAGO="0">Crear Nuevo</a>
                                    <a class="btn btn-success btn-sm" asp-action="ExportarPagosAlExcel" asp-controller="Home" asp-route-ID_CURSO="0">Exportar a Excel</a>
        <hr />

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Identificacion de Pago</th>
                    <th>Fecha de Pago</th>
                    <th>Matricula del Estudiante</th>
                    <th>Monto</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IdInscripcion</td>
                        <td>@item.FechaPago</td>
                        <td>@item.IdInscripcion</td>
                        <td>@item.Monto</td>
                        <td>
                            <a class="btn btn-primary btn-sm" asp-action="Pagos_Detalle" asp-controller="Home" asp-route-ID_PAGO="@item.IdPago">Editar</a>
                            <a class="btn btn-danger btn-sm" asp-action="Eliminar_Pagos" asp-controller="Home" asp-route-ID_PAGO="@item.IdPago">Eliminar</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>
