@model List<INSCRIPCION_ESTUDIANTIL.Models.Seccione>

@{
    ViewData["Title"] = "Secciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registro de Secciones</h1>

<div class="card">
    <div class="card-header">
        <h5>Lista de Secciones</h5>
    </div>

    <div class="card-body">
        <a class="btn btn-success btn-sm" asp-action="Secciones_Detalle" asp-controller="Home" asp-route-ID_SECCIONES="0">Crear Nuevo</a>
        <a class="btn btn-success btn-sm" asp-action="ExportarSeccionesAlExcel" asp-controller="Home" asp-route-ID_CURSO="0">Exportar a Excel</a>

        <hr />

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre de la Seccion</th>
                    <th>Cupones de la Seccion </th>
                    <th>Curso de la Seccion</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.NombreSeccion</td>
                        <td>@item.CuposSeccion</td>
                        <td>@item.IdCurso</td>
                        <td>
                            <a class="btn btn-primary btn-sm" asp-action="Secciones_Detalle" asp-controller="Home" asp-route-ID_SECCIONES="@item.IdSecciones">Editar</a>
                            <a class="btn btn-danger btn-sm" asp-action="Eliminar_Secciones" asp-controller="Home" asp-route-ID_SECCIONES="@item.IdSecciones">Eliminar</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>